aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.8.0
asyncer==0.0.8
attrs==25.1.0
autogen-agentchat==0.4.3
autogen-core==0.4.3
autogen-ext==0.4.3
azure-core==1.32.0
azure-identity==1.19.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
defusedxml==0.7.1
Deprecated==1.2.18
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
docopt==0.6.2
fast-depends==2.4.12
fastapi==0.115.7
fastjsonschema==2.21.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.5.0
ipython==8.12.3
Jinja2==3.1.5
jiter==0.8.2
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab_pygments==0.3.0
MarkupSafe==3.0.2
mistune==3.1.1
msal==1.31.1
msal-extensions==1.2.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.2.2
openai==1.60.1
opentelemetry-api==1.29.0
pandocfilters==1.5.1
pillow==11.1.0
pipreqs==0.5.0
portalocker==2.10.1
protobuf==4.25.6
psutil
pyautogen==0.7.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.10.1
python-dotenv==1.0.1
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.22.3
sniffio==1.3.1
soupsieve==2.6\
starlette==0.45.3
termcolor==2.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tqdm==4.67.1
urllib3==2.3.0
uvicorn==0.34.0
python-multipart=0.0.20
webencodings==0.5.1
websockets==14.2
wrapt==1.17.2
yarg==0.1.9
gunicorn==23.0.0